@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"), url(./fonts/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: local("ProximaNovaBold"), url(./fonts/Proxima\ Nova\ Alt\ Bold.otf) format('opentype');
}

html,body {
  font-family: "ProximaNova";
  margin: 0;
  height: 100%;
  width: 100%;
}
